<div>
    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Id Ciudad</th>
            <th scope="col">Código Dane</th>
            <th scope="col">Nombre</th>
            <th scope="col">Departamento</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ciudad of listaCiudades">
            <th scope="row">{{ciudad.numCodigoCiudad}}</th>
            <td>{{ciudad.strCodigoDaneCiudad}}</td>
            <td>{{ciudad.strNombreCiudad}}</td>
            <td>{{ciudad.departamentosEntity.strNombreDepartamento}}</td>
            <td>
              <button type="button" class="btn btn-primary" routerLink="formulario-actualizacion-ciudades">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

