<div>
    <h1>Listado Clientes</h1>
</div>
<div>
    <button type="button" class="btn btn-primary" (click)="getMostrarListadoDepartamentos()">
        {{mostrarListadoDepartamentos == true ? "Ocultar Lista" : "Mostrar Lista"}}
    </button>
</div>
<div *ngIf="mostrarListadoDepartamentos">
    <app-tabla-departamentos></app-tabla-departamentos>
</div>
<div>
  <button type="button" class="btn btn-primary" routerLink="formulario-ingreso-departamentos">
      Ingresar Departamento
  </button>
</div>
