<div>
    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Id Referencia</th>
            <th scope="col">Tipo Dominio</th>
            <th scope="col">Valor</th>
            <th scope="col">Descripción</th>
            <th scope="col">¿El dominio es activo?</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referencia of listaReferencias">
            <th scope="row">{{referencia.numIdReferencia}}</th>
            <td>{{referencia.strDominio}}</td>
            <td>{{referencia.strRangoValor}}</td>
            <td>{{referencia.strDescripcion}}</td>
            <td>{{referencia.strEstado}}</td>
            <td>
              <button type="button" class="btn btn-primary">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
