<div>
    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Id </th>
            <th scope="col">Código Oficina</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let oficina of listaOficinas">
            <th scope="row">{{oficina.numIdOficina}}</th>
            <td>{{oficina.strCodigoOficina}}</td>
            <td>{{oficina.strNombreOficina}}</td>
            <td>{{oficina.strDireccionOficina}}</td>
            <td>{{oficina.ciudadesEntity.strNombreCiudad}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="setIdOficinaElediga(oficina.numIdOficina)" routerLink="formulario-actualizacion-oficinas">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="eliminarOficinas(oficina.numIdOficina)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr> 
        </tbody>
      </table>
</div>
